@{
  Layout="Shared/_Layout.cshtml";
}


<h3>Remove all clients</h3>
<form action="/clients/delete/all" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-primary">Remove all clients!</button>
</form>
