@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Edit a client: @Model.GetName()</h3>

<form action='/client/edit/@Model.GetId()' method='post'>
  <input type="hidden" name="_method" value="PATCH">
  <input value='@Model.GetId()' name='clientEditId' type='hidden'>
  <label for="newClientName">New Client Name:</label>
  <input name="newClientName" type="text" required>

  <button type="submit" class="btn btn-primary">Edit client!</button>
</form>

<a href="/">Return home</a>
