

      <h3>Add new stylist:</h3>
      <form action="/stylists/new" method="post">
        <label for="stylistName">Stylist Name:</label>
        <input name="stylistName" required>

        <button type="submit" class="btn btn-primary">Add new stylist!</button>
