@{
Layout="Shared/_Layout.cshtml";
}


<h2>Edit a stylist: @Model.GetName()</h2>

<form action="/stylists/edit/@Model.GetId()" method="post">
<div class ="form-group">
<input type="hidden" name="_method" value="PATCH">
<input name ="stylist-id" type ="hidden" value ="@Model.GetId()">
<label for="newName">New Stylist Name:</label>
<input id= "newName" name="newName" type ="text">
</div>

<button type="submit" class="btn btn-success">Edit stylist!</button>
</form>

<p><a href="/">Return home</a></p>
