@{
  Layout="Shared/_Layout.cshtml";
}
<hr>
<h2>Are you sure you want to delete this stylist and all of its clients?</h2>

<h4>@Model.GetName()</h4>
<form action="/stylist/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>

<form action="/stylists/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-primary">Remove all stylists!</button>
</form>

<h3>All stylists removed.</h3>

<a href="/">Return home</a>
